{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-15 col-lg-15 col-xl-15">
    <article>
      	<h1 class="text-center">{{ .Title }}</h1>
      	<div class="text-center">{{ .Content }}</div>
		<div class="card-list">
		{{ range .Data.Pages -}}
			
			<!-- <a href="{{ .Params.external_link }}" target="_blank"> -->
				<div class="card" style="margin-bottom: 5px;">

					<div class="row">

						<div class="col-md-4">
							<span class="vertical-center"></span>
							<img style="vertical-align: middle;" src="{{ .Permalink }}/featured.png" alt="not found"/>
						</div>
					
						<div class="col-md-8 card-body">
							<h2 class="h4"><a class="stretched-link text-body" href="{{ .Permalink }}/slides.pdf" target="_blank">{{ .Params.title }}</a></h2>
							<p><i>{{ .Params.abstract | safeHTML }}</i></p>
							{{ partial "main/talk-meta.html" . -}}
						</div>
					</div>
				</div>	
			<!-- </a> -->
			
		{{ end -}}
		</div>
	</article>
  </div>
</div>
{{ end }}