{{ define "main" }}

 {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
 

<section class="section container-fluid">
  
  
    <!--<h2 class="mt-0">{{ .Title }}</h2>-->

    <div class="row" itemprop="author" itemscope="" style="margin-top: -20px;"  itemtype="http://schema.org/Person" itemref="person-email person-telephone person-address">
      <div class="col-25 col-lg-4">
        <div id="profile">      
          <img class="portrait" src="/images/homepage/avatar.png" itemprop="image" alt="Avatar">
          
          <div class="portrait-title">
            <h2 itemprop="name">Moncef Garouani</h2>
            <h3 itemprop="jobTitle">AutoML & XAI researcher </br> Associate Professor @</h3>
      
            <h3 itemprop="worksFor" itemscope="" itemtype="http://schema.org/Organization">
              <a href="https://www.ut-capitole.fr/" target="_blank" itemprop="url" rel="noopener">
              <span itemprop="name">University Toulouse 1 Capitole</span>
              </a>
            </br>
              <a href="https://www.irit.fr/" target="_blank" itemprop="url" rel="noopener">
                <span itemprop="name">IRIT laboratory</span>
                </a>
          </div>
    
          <link itemprop="url" href="">

          <ul class="network-icon" aria-hidden="true">
            
            <li>
              <a itemprop="sameAs" href="/contact">
                <img src="/images/homepage/envelope.svg"  class="img-thumbnail">
                 </a>
              </li>
              
               
              <li>
                <a itemprop="sameAs" href="https://github.com/LeMgarouani" target="_blank" rel="noopener">
                  <img src="/images/homepage/github.svg"   class="img-thumbnail">
                </a>
              </li>
               

              <li>
                <a itemprop="sameAs" href="https://scholar.google.com/citations?user=4nXi7GAAAAAJ&hl=fr" target="_blank" rel="noopener">
                  <img src="/images/homepage/google-scholar.svg"   style="width: 100%" class="img-thumbnail">
                </a>
              </li>
              
              <li>
                <a itemprop="sameAs" href="https://www.researchgate.net/profile/Moncef-Garouani?ev=hdr_xprf&_sg=Y9Q7reExPd4eXT4siaveaCu9doRVWyeQZu7qM5t2SzJPwjC7mJkAzxLqEGzeO84yp5TmfOlE2eqy_7t7vTWdRQ4j" target="_blank" rel="noopener">
                  <img src="/images/homepage/research_gate.svg"   style="width: 100%;" class=" img-thumbnail">
                </a>
              </li>

               <li>
                <a itemprop="sameAs" href="https://www.linkedin.com/in/moncef-garouani/" target="_blank" rel="noopener">
                  <img src="/images/homepage/linkedin.svg"   class="img-thumbnail">
                </a>
              </li>
              
              <!--
              <li>
                <a itemprop="sameAs" href="https://hamnexik.medium.com/" target="_blank" rel="noopener">
                  <i class="fa fa-medium big-icon"></i>
                </a>
              </li>
              -->
              
              <!--
              <li>
                <a itemprop="sameAs" href="/sources/jbuisine/cv.pdf">
                  <i class="ai ai-cv big-icon"></i>
                </a>
              </li>
              -->
            </ul>
          </div>
        </div>
        <div class="col-25 col-lg-12" itemprop="description">
      
          
          <h3>Biography</h3>
      
<p class="description" style='text-align: justify;'>I am currently an Associate Professor (Maître de Conférences) at the <a href=" https://www.ut-capitole.fr/ " target="_blank"> University Toulouse 1 Capitole </a> and I am a member of the <a href=" https://www.irit.fr/ " target="_blank"> IRIT </a> lab (<a href=" https://www.irit.fr/departement/gestion-de-donnees/equipe-sig/" target="_blank">SIG </a> team). My research work is mainly focused on the automatic selection and parametrization of machine learning algorithms and the Explanability of AI. The major goal is to achieve an optimal performance for a given task while providing the rationale traceability behind a ML recommendation or decision. I am also working on underlying topics such as Meta-learning, Natural language processing, and Computer vision.      
      
          <div class="row">
      <!--
            <div class="col-md-5">
              <h4>Interests</h4>
              <ul class="ul-interests">
                <li>Machine & Deep learning</li>
                <li>Automated machine learning</li>
                <li>Explainability of AI</li>
                <li>Natural language processing</li>
                <li>Computer vision</li>
                <li>Big Data</li>
              </ul>
            </div>
            -->
            <div class="col-md-7">
              <h4>Education</h4>
              <ul class="ul-edu fa-ul">
                
                <li>
                  <img src="/images/homepage/mortarboard-fill.svg" alt="aaa" class="fa-li" style="width: 7%;">
                  <div class="description">
                    <p class="course">PhD student in AI, Sep. 2019 -2022 </p>
                    <p class="institution">LISIC, ULCO Calais, France (Co-tutelle)</p>
                    <p class="institution">CCPC, ENSAM Casablanca, Morocco</p>
                  </div>
                </li>
                
                <li>
                  <img src="/images/homepage/mortarboard-fill.svg" alt="aaa" class="fa-li" style="width: 7%;">
                  <div class="description">
                    <p class="course">Master degree in Data science, 2017 - 2019</p>
                     <p class="institution">FST Fez, USMBA, Morocco</p>
                  </div>
                </li>
                
                <li>
                  <img src="/images/homepage/mortarboard-fill.svg" alt="aaa" class="fa-li" style="width: 7%;">
                  <div class="description">
                    <p class="course">Bachelor in IT, 2014 - 2017</p>
                    <p class="institution">FST Fez, USMBA, Morocco</p>
                  </div>
                </li>
 
                
              </ul>
            </div>
 
            <div class="col-md-9">
              <h4>Experiences</h4>
              <ul class="ul-edu fa-ul">


                <li>
                  <img src="/images/homepage/briefcase-fill.svg" alt="aaa" class="me fa-li" style="width: 4%;">
                  <div class="description">
                    <p class="course">Associate Professor, Sep.2023 – Now</p>
                    <p class="institution">Institut de Recherche en Informatique de Toulouse (IRIT)</p>
                    <p class="institution">University Toulouse 1 Capitole</p>
                    </div>
                </li>
                
                <li>
                  <img src="/images/homepage/briefcase-fill.svg" alt="aaa" class="me fa-li" style="width: 4%;">
                  <div class="description">
                    <p class="course">Temporary Lecturer and Research Assistant, Sep.2022 – Aug. 2023</p>
                    <p class="institution">Computer science & Artificial Intelligence</p>
                    <p class="institution">L'École d'Ingénieurs du Littoral-Côte-d'Opale</p>
                    </div>
                </li>

                <li>
                  <img src="/images/homepage/briefcase-fill.svg" alt="aaa" class="fa-li" style="width: 4%;">
                  <div class="description">
                    <p class="course">Lecturer in computer science, Sep.2021 – Jul. 2022</p>
                    <p class="institution">- L'École d'Ingénieurs du Littoral-Côte-d'Opale</p>
                    <p class="institution">- IUT du Littoral Côte d'Opale</p>
                   </div>
                </li>

                <li>
                  <img src="/images/homepage/briefcase-fill.svg" alt="aaa" class="fa-li" style="width: 4%;">
                  <div class="description">
                    <p class="course">Research Collaborator, Jun.2020 – Sep 2022</p>
                    <p class="institution">Centre d’Etude et de Recherche pour l’Ingénierie de l’école HESTIM</p>
                   </div>
                </li>

<!--
                <li>
                  <img src="/images/homepage/briefcase-fill.svg" alt="aaa" class="fa-li" style="width: 4%;">
                  <div class="description">
                    <p class="course">Data Scientist, Aug – Dec 2019</p>
                    <p class="institution">The Good Data Factory (Rabat, Maroc)</p>
                  </div>
                </li>
 -->
                
              </ul>
            </div>
<!--
            <div class="col-md-5">
              <h4>Interests</h4>
              <ul class="ul-interests">
                <li>Machine & Deep learning</li>
                <li>Automated machine learning</li>
                <li>Explainability of AI</li>
                <li>Natural language processing</li>
                <li>Computer vision</li>
                <li>Big Data</li>
              </ul>
            </div>
-->
  <div class="col-md-15" style="margin-top: -10px;">
     <h4>Interests</h4>
     
   <img class="rounded mx-auto d-block" style="margin-top: -25px;" src="/images/homepage/WordCloud.png" itemprop="image" alt="Avatar">
          
  </div>
      </div>
    </div>
  </div>



</section>
 




{{ end }}


